<template>
  <div class="c-UICheckbox flex items-center">
    <input
      id="checkbox-table-search-1"
      v-model="checkedValue"
      type="checkbox"
      class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
      @click="$emit('toggle')"
    />
    <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'

@Component
export default class UICheckbox extends Vue {
  @Prop({ required: true })
  public checked!: boolean

  public checkedValue: boolean = false

  public created(): void {
    this.checkedValue = this.checked
  }
}
</script>
