<template>
  <div class="c-addTask flex justify-end my-10 md:w-[80%]">
    <button
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      @click="toggleAddModal"
    >
      {{ $t('common.addTask') }}
    </button>
    <TaskForm :is-open="isOpenAddModal" @close="toggleAddModal" />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import Notification from '~/components/notification.vue'
import TasksList from '~/components/TasksList.vue'
import TaskForm from '~/components/TaskForm.vue'
import ToDoService from '~/store/services/ToDoService'

@Component({
  components: {
    Notification,
    TasksList,
    TaskForm,
  },
})
export default class AddTask extends Vue {
  public isOpenAddModal: boolean = false

  public toggleAddModal(): void {
    ToDoService.setTask(null)
    this.isOpenAddModal = !this.isOpenAddModal
  }
}
</script>
