<template>
  <div class="c-searchFilter mb-6 max-w-[300px] mx-auto">
    <label
      for="title"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >{{ $t('forms.queryLabel') }}</label
    >
    <input
      id="title"
      v-model="query"
      type="title"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      :placeholder="$t('forms.query')"
      required
      @change="changeQuery"
    />
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator'
import ToDoService from '~/store/services/ToDoService'

@Component
export default class SearchFilter extends Vue {
  public query: string = ''

  @Watch('query')
  public changeQuery(): void {
    ToDoService.setQuery(this.query)
  }
}
</script>
