<template>
  <label
    class="c-switcherDarkMode relative inline-flex items-center mb-4 cursor-pointer"
  >
    <input
      v-model="darkMode"
      type="checkbox"
      class="sr-only peer"
      @click="toggleDarkMode"
    />
    <div
      class="w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"
    ></div>
    <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">{{
      $t('common.darkMode')
    }}</span>
  </label>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator'

@Component
export default class SwitchDarkMode extends Vue {
  public darkMode: boolean = false

  public get windowDarkMode(): boolean {
    return window.matchMedia('(prefers-color-scheme: dark)').matches
  }

  public toggleDarkMode(): void {
    this.darkMode = !this.darkMode

    this.setDarkModeClass()
  }

  public setDarkModeClass(): void {
    if (this.darkMode) {
      document.documentElement.classList.add('dark')
    } else {
      document.documentElement.classList.remove('dark')
    }
  }

  @Watch('windowDarkMode')
  public changeWindowDarkMode(): void {
    this.darkMode = this.windowDarkMode
  }

  public mounted(): void {
    this.darkMode = this.windowDarkMode
    this.setDarkModeClass()
  }
}
</script>
