<template>
  <div
    v-if="isOpen"
    tabindex="-1"
    aria-hidden="true"
    class="overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-modal md:h-full bg-zinc-700/70"
    @click="$emit('close')"
  >
    <div
      class="relative p-4 w-full max-w-md h-full md:h-auto mx-auto mt-[30vh]"
      @click.stop
    >
      <!-- Modal content -->
      <div
        class="relative p-4 text-center bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5"
      >
        <button
          type="button"
          class="text-gray-400 absolute top-2.5 right-2.5 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
          data-modal-toggle="deleteModal"
          @click="$emit('close')"
        >
          <svg
            aria-hidden="true"
            class="w-5 h-5"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
              clip-rule="evenodd"
            ></path>
          </svg>
          <span class="sr-only">{{ $t('common.closeModal') }}</span>
        </button>
        <form>
          <div class="mb-6">
            <label
              for="title"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >{{ $t('forms.taskTitle') }}</label
            >
            <input
              id="title"
              v-model="task.title"
              type="title"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              :placeholder="$t('forms.taskTitle')"
              required
            />
          </div>
          <div class="mb-6">
            <label
              for="user"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >{{ $t('forms.selectUser') }}</label
            >
            <select
              id="user"
              v-model="task.userId"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            >
              <option
                v-for="user in users"
                :key="`${user.id}_user`"
                :value="user.id"
              >
                {{ user.username }}
              </option>
            </select>
          </div>
          <button
            type="submit"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            @click.prevent="submit"
          >
            {{ $t('forms.submit') }}
          </button>
        </form>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import { Nullable } from '~/types/Nullable'
import { ITask } from '~/types/ToDoTypes'
import ToDoService from '~/store/services/ToDoService'
import UserService from '~/store/services/UserService'
import { IUser } from '~/types/UserTypes'
import notificationService from '~/store/services/NotificationService'

@Component
export default class TaskForm extends Vue {
  @Prop({ default: false })
  public isOpen!: boolean

  public task: ITask = {
    title: '',
    completed: false,
    userId: 0,
  }

  public get taskToEdit(): Nullable<ITask> {
    return ToDoService.task
  }

  public get users(): IUser[] {
    return UserService.users
  }

  public mounted(): void {
    if (this.taskToEdit) {
      this.task = this.taskToEdit
    }
  }

  public async submit(): Promise<void> {
    if (this.taskToEdit && this.taskToEdit.id) {
      await ToDoService.updateTask({
        id: this.taskToEdit.id,
        task: this.task,
      }).then(() => {
        this.$emit('close')
        notificationService.setNotification({
          text: this.$t('common.taskUpdated').toString(),
          status: 200,
        })
      })
    } else {
      await ToDoService.addTask(this.task).then(() => {
        this.$emit('close')
        notificationService.setNotification({
          text: this.$t('common.taskAdded').toString(),
          status: 200,
        })
      })
    }
  }
}
</script>
