<template>
  <tr
    v-if="task"
    class="c-Task bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
  >
    <td class="w-4 p-4">
      <UICheckbox :checked="task.completed" @toggle="toggleCompleted" />
    </td>
    <th
      scope="row"
      class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
    >
      {{ task.title }}
    </th>
    <td class="px-6 py-4">{{ userName }}</td>
    <td class="flex items-center px-6 py-4 space-x-3">
      <button
        class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
        @click="toggleEditTaskModal"
      >
        {{ $t('forms.edit') }}
      </button>
      <button
        class="font-medium text-red-600 dark:text-red-500 hover:underline"
        @click="toggleDeleteTaskModal"
      >
        {{ $t('forms.delete') }}
      </button>
      <DeleteTaskModal
        v-if="isOpenDeleteTaskModal"
        :title="task.title"
        :is-open="isOpenDeleteTaskModal"
        @close="toggleDeleteTaskModal"
        @delete="removeTask"
      />
      <TaskForm
        v-if="isOpenEditTaskModal"
        :is-open="isOpenEditTaskModal"
        @close="toggleEditTaskModal"
      />
    </td>
  </tr>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import { ITask } from '~/types/ToDoTypes'
import UICheckbox from '~/components/UIElements/UICheckbox.vue'
import ToDoService from '~/store/services/ToDoService'
import DeleteTaskModal from '~/components/DeleteTaskModal.vue'
import { IUser } from '~/types/UserTypes'
import UserService from '~/store/services/UserService'
import TaskForm from '~/components/TaskForm.vue'

@Component({
  components: {
    UICheckbox,
    DeleteTaskModal,
    TaskForm,
  },
})
export default class Task extends Vue {
  @Prop({ required: true })
  public task!: ITask

  public isOpenDeleteTaskModal: boolean = false

  public isOpenEditTaskModal: boolean = false

  public toggleDeleteTaskModal(): void {
    this.isOpenDeleteTaskModal = !this.isOpenDeleteTaskModal
  }

  public toggleEditTaskModal(): void {
    ToDoService.setTask(this.task)
    this.isOpenEditTaskModal = !this.isOpenEditTaskModal
  }

  public get users(): IUser[] {
    return UserService.users
  }

  public get userName(): string {
    const user = this.users.find((user) => user.id === this.task.userId)
    return user ? user.username : ''
  }

  public async toggleCompleted(): Promise<void> {
    if (this.task.id) {
      await ToDoService.updateCompleted({
        id: this.task.id,
        completed: !this.task.completed,
      })
    }
  }

  public async removeTask(): Promise<void> {
    if (!this.task.id) return
    await ToDoService.deleteTask(this.task.id).then(async () => {
      await ToDoService.loadTasksLists()
      this.toggleDeleteTaskModal()
    })
  }
}
</script>
