<template>
  <nav class="c-taskPaggination flex justify-center mb-10">
    <ul class="inline-flex -space-x-px">
      <li>
        <button
          class="px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
          @click="prevPage"
        >
          {{ $t('common.prev') }}
        </button>
      </li>
      <template v-for="index in countPageNumber">
        <li :key="`${index}_paggination`">
          <button
            v-if="index < currentPage && index > currentPage - 3"
            class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
            @click="setPage(index)"
          >
            {{ index }}
          </button>
          <button
            v-if="index === currentPage"
            aria-current="page"
            class="px-3 py-2 text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white"
          >
            {{ currentPage }}
          </button>
          <button
            v-if="index > currentPage && index < currentPage + 3"
            class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
            @click="setPage(index)"
          >
            {{ index }}
          </button>
        </li>
      </template>
      <li>
        <button
          class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
          @click="nextPage"
        >
          {{ $t('common.next') }}
        </button>
      </li>
    </ul>
  </nav>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator'
import { ITask } from '~/types/ToDoTypes'
import ToDoService from '~/store/services/ToDoService'

@Component
export default class TasksPaggination extends Vue {
  public currentPage: number = 1

  public setPageFromParam(): void {
    const page = Number(this.$route.query.page)
    if (page && page > 0 && page <= this.countPageNumber) {
      this.setPage(page)
    } else {
      this.setPage(1)
    }
  }

  public get countPageNumber(): number {
    return Math.ceil(this.tasks.length / 20)
  }

  public get tasks(): ITask[] {
    return ToDoService.tasks
  }

  @Watch('tasks')
  public onTasksChange(): void {
    this.currentPage = 1
  }

  @Watch('$route', { deep: true })
  public onRouteChange(): void {
    this.setPageFromParam()
  }

  public nextPage(): void {
    if (this.currentPage < this.countPageNumber) {
      this.setPage(this.currentPage + 1)
    }
  }

  public prevPage(): void {
    if (this.currentPage > 1) {
      this.setPage(this.currentPage - 1)
    }
  }

  public setPage(page: number): void {
    const url = new URL(window.location.href)
    url.searchParams.set('page', page.toString())
    this.currentPage = page
    ToDoService.getPageTask(this.currentPage)
    history.pushState({}, '', url)
  }

  public mounted(): void {
    this.setPageFromParam()
  }
}
</script>
