<template>
  <div class="c-TasksList">
    <div
      class="relative overflow-x-auto shadow-md sm:rounded-lg my-10 w-full md:w-[80%] mx-auto"
    >
      <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead
          class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
        >
          <tr>
            <th scope="col" class="px-6 py-3">{{ $t('common.completed') }}</th>
            <th scope="col" class="px-6 py-3">{{ $t('common.title') }}</th>
            <th scope="col" class="px-6 py-3">{{ $t('common.user') }}</th>
            <th scope="col" class="px-6 py-3">{{ $t('common.actions') }}</th>
          </tr>
        </thead>
        <tbody>
          <Task v-for="task in tasks" :key="task.id" :task="task" />
        </tbody>
      </table>
    </div>
    <TasksPaggination />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import ToDoService from '~/store/services/ToDoService'
import { ITask } from '~/types/ToDoTypes'
import Task from '~/components/Task.vue'
import TasksPaggination from '~/components/TasksPaggination.vue'

@Component({
  components: {
    Task,
    TasksPaggination,
  },
})
export default class TasksList extends Vue {
  public get tasks(): ITask[] {
    return ToDoService.pagginatedTasks
  }

  public mounted(): void {
    ToDoService.getPageTask(1)
  }
}
</script>
