<template>
  <div class="v-homepage bg-bgSecondary dark:bg-bgDark">
    <client-only>
      <SwitchDarkMode @dark-mode="setDarkMode" />
    </client-only>
    <AddTask />
    <SearchFilter />
    <TasksList v-if="tasks.length" />
    <Notification />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import Notification from '~/components/notification.vue'
import ToDoService from '~/store/services/ToDoService'
import TasksList from '~/components/TasksList.vue'
import { ITask } from '~/types/ToDoTypes'
import UserService from '~/store/services/UserService'
import AddTask from '~/components/AddTask.vue'
import SearchFilter from '~/components/SearchFilter.vue'
import SwitchDarkMode from '~/components/SwitchDarkMode.vue'

@Component({
  components: {
    Notification,
    TasksList,
    AddTask,
    SearchFilter,
    SwitchDarkMode,
  },
})
export default class IndexPage extends Vue {
  public darkMode: boolean = false

  public setDarkMode(isDarkMode: boolean): void {
    this.darkMode = isDarkMode
  }

  public async mounted(): Promise<void> {
    await Promise.all([ToDoService.loadTasksLists(), UserService.loadUsers()])
  }

  public get tasks(): ITask[] {
    return ToDoService.tasks
  }
}
</script>
